@import 'utilities/index';
@import 'base/index';
@import 'components/index';

.app {
    display: grid;
    grid-template-rows: 70px 50px 50px 500px 500px ;
    grid-template-columns: 6% 47% 47%;
    grid-template-areas: 
    "header header header"
    "side-navbar content-menu content-menu"
    "side-navbar alert alert"
    "side-navbar chart-1 chart-1"
    "side-navbar chart-2 chart-3"
    "side-navbar social-stats social-stats"
    "side-navbar new-members recent-activity"
    "side-navbar message-user settings";
}

body{
    font-family: 'Roboto', sans-serif;
}







.alert {
    grid-area: alert;
}


.chart-1 {
    grid-area: chart-1;
}

.chart-2{
    grid-area: chart-2
}

.chart-3 {
    grid-area: chart-3;
}


.social-stats {
    grid-area: social-stats;
}

.new-members{
    grid-area: new-members;
}


.recent-activity{
    grid-area: recent-activity;
}

.message-user{
    grid-area: message-user;
}

.settings{
    grid-area: settings;
}
