@import 'utilities/index';
@import 'base/index';
@import 'components/index';

body{
    width: 100%;
    margin: 0;
}



body{
    font-family: 'Roboto', sans-serif;
}


.alert {
    grid-area: alert;
}


.chart-1 {
    grid-area: chart-1;
}

.chart-2{
    grid-area: chart-2
}

.chart-3 {
    grid-area: chart-3;
}


.social-stats {
    grid-area: social-stats;
}






