.alert{
    display: flex;
    justify-content: space-between;
    @include center;
    background-color: $header-color;
    span {
        color: white;
    }
    padding-top: 0.7rem;
    margin-top: 0.7rem;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    border-radius: 5px;
}


.alert-emphasis{
    font-weight: bold;
}

.alert-cross {
    &:hover{
        cursor: pointer;
    }
}