.traffic-nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;
}

.chart-1{
    width: 95%;
    margin: 0.8rem  auto 0.9rem  auto;

}
.traffic-span{
    margin-right: auto;
}