.app {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 15% 85%;
    grid-template-areas: 
    "header header"
    "side-navbar content-menu "
    "side-navbar alert "
    "side-navbar chart-1 "
    "side-navbar chart-2 "
    "side-navbar chart-3 "
    "side-navbar social-stats "
    "side-navbar new-members "
    "side-navbar recent-activity "
    "side-navbar message-user"
    "side-navbar  settings";
}


@media (min-width: 768px ){
    .app {
        grid-template-rows: auto;
        grid-template-columns: 6% 47% 47%;
        grid-template-areas: 
        "header header header"
        "side-navbar content-menu content-menu"
        "side-navbar alert alert"
        "side-navbar chart-1 chart-1"
        "side-navbar chart-2 chart-3"
        "side-navbar social-stats social-stats"
        "side-navbar new-members recent-activity"
        "side-navbar message-user settings";
    }

    .social-group {
        flex-direction: row;
        justify-content: space-around;
    }

    .social-section {
        width: 30%;
    }

    .message-user{
        @include right-line;
    }

    .new-members{
        @include right-line;
    }

    .traffic-nav{
        flex-direction: row;
    }

    .traffic-nav-btn {
        padding: 10px 16px;
      }
      

}

