.message-user{
    @include right-line;
    grid-area: message-user;


}

.message-user-div{
    @include center;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    height: 350px;
}

.message-user-div > * {
    margin-bottom: 0.7rem;
    border: none;
}
.user-search{
    background-color: $input-color;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;

}


.user-message{
    background-color: $input-color;
    padding-left: 5px;


}


.message-span {
    font-size: 1.2rem;
    font-weight: bold;
}

.message-send{
    background-color: $header-color;
    color: white;
    margin-top: 5px;
    padding-top:5px;
    padding-bottom:5px;
    height: 32px;

}
