.message-user{
    grid-area: message-user;
    @include bottom-line;


}

.message-user-div{
    @include center;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    height: 350px;
    position: relative;
}

.message-user-form > * {
    margin-bottom: 0.7rem;
    border: none;
}
.user-search{
    background-color: $input-color;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;

}


.user-message{
    background-color: $input-color;
    padding-left: 5px;
}


.message-span {
    @include header;
    display: inline-block;
    margin-bottom: 1rem;
}

.message-send{
    background-color: $header-color;
    color: white;
    margin-top: 5px;
    padding-top:5px;
    padding-bottom:5px;
    height: 32px;
    cursor: pointer;

}
 

.message-user-form {
    display: flex;
    position: relative;
    flex-direction: column;
}


.search-autofill {
    position: absolute;
    display: none;
    flex-direction: column;
    z-index: 10;
    background-color: white;
    top: 30px

}

.search-option {
    padding-top: 1px;
    padding-bottom: 1px;
    cursor: pointer;
    &:hover{
        background: $line-color;
    }
}

.message-status-div{
    margin-bottom: 1rem;
    color: red;
}


.sent-success {
    color: lightgreen;
}