/* navbar section */


.side-navbar {
    grid-area: side-navbar;
    background-color: rgb(56, 19, 116);
    display: flex;
    flex-direction: column;
}

.side-navbar svg{
    width: 35%;
    margin: 1.5rem auto;

}


.side-navbar .st0 {
    fill: grey;
}


.side-navbar  .svg-active{
    path{
        fill: white;
    }
    border-left: 3px solid lightgreen;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25%;
    margin-left: 0;
    margin-right: 0;
}