.recent-activity{
    grid-area: recent-activity;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $line-color;
    h3 {
        margin-left: 1rem;
    }

}

.activity{
    font-weight: bold;
    margin-bottom: 0.3rem;
}

.activity-time{
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.arrow{
    font-size: 2rem;
    height: 10%;
    width: 10%;
    margin-right: 0.5rem;
    margin-top:1rem;
    margin-left: auto;
}