
.settings{
    grid-area: settings;
    display: flex;
    flex-direction: column;
    @include center;
    margin-top: 2rem;

    button{
        padding-top: 5px;
        padding-bottom: 5px;
    }

}

.settings-span{
    font-size: 1.3rem;
    font-weight: bold;
}

.send-notifications{
    display: flex;
    flex-direction: column;
}
.profile-public{
    display: flex;
    flex-direction: column;

}

.time-zone select{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.settings-buttons {
    display: flex;
    button {
        flex-grow: 1;
    }
}
.settings > * {
    margin-bottom: 0.7rem;
}


.save{
    background-color: $header-color;
    color: white;
}










.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #999999; border-radius: 10px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: $header-color; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 1px solid #999999; border-radius: 10px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}